{% extends "header.html" %}
{% block body %}

<body>

edit product

<!-- INSERT YOUR CODE HERE -->
<!--render_template('editmenuitem.html', restaurant_id = restaurant_id, MenuID = MenuID, item = editedItem)-->
<form action ="{{ url_for('edit_product_page', product_category_id = item.categoryID, product_name = item.name, product_id = item.id)}}" method = 'post'>
	<p>name:</p>
		<input type = 'text' size='30' name='name' value = '{{item.name }}'>

	<p>description:</p>
		<input type = 'text' size='30' name='description' value = '{{item.description }}'>
	<p>image(url):</p>
		<input type = 'text' size='30' name='image' value = '{{item.image }}'>
	<p>
<input type='submit' value='Submit'>
	</p>

<a href = '{{url_for('product_page',product_category_id = item.categoryID, product_name = item.name, product_id = item.id)}}'>cancel</a>
</form>



</body>

{% endblock %}